*{
  margin: 0;
  padding: 0;
}

@font-face {
font-family: Dancing Script;
src: url(Dancing Script v1.01/Dancing Script.ttf);
}

body{
  background-color: black;

}
/*Contenedor Principal*/
.ContenedorPrincipal{
  background-color: green;
  width: 70%;
  height: 900px;
  margin: 0 auto;
  margin-top: 2%;
}
/*Cabecera*/
.Cabecera{
  background-color: gray;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
h1{
  font-family: "Dancing Script";
}
header{
  background-color: green;
  width: 370px;
  height: 60px;
  margin: 2% 13% 0 5%;
}
h1{
  font-size: 27px;
}
nav{
  background-color: orange;
  width: 400px;
  height: 40px;
  margin: 8% 0 1% 0%;

}
.opcionesmenu{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.opcionesmenu li a{
  text-decoration: none;
  color: black;
  font-size: 22px;
}
.opcion1{
  background-color: red;
  width: 33.33%;
  height: 40px;
  text-align:center;

}
.opcion2{
  background-color: green;
  width: 33.33%;
  height: 40px;
  text-align:center;
}
.opcion3{
  background-color: violet;
  width: 33.33%;
  height: 40px;
  text-align:center;
}



/*Contenido*/
section{
  background-color: green;
  width: 100%;
  height: auto;
}

/*Caja1*/
.caja1-index{
  background-color: blue;
  width: 100%;
  height: 400px;

}

.caja1-index .contenedor-caja1 .imagen1caja1{
  background-color: green;
  width: 65%;
  height: 300px;
  margin: 6% 0 0 17%;

}


/*Caja 2*/
.caja2-index{
  background-color: pink;
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.imagen1caja2{
  background-color: blue;
  width: 300px;
  height: 200px;
  margin: 5% 5% 0 15%;
}

.imagen2caja2{
  background-color: gray;
  width: 300px;
  height: 200px;
  margin: 5% 0% 0 0%;
}

/*Caja 3*/
.caja3-index{
  background-color: orange;
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}

.caja1-caja3{
  background-color: white;
  width: 150px;
  height: 220px;
  margin: 2% 5% 0 4%;
}
.caja2-caja3{
  background-color: green;
  width: 150px;
  height: 220px;
  margin: 2% 5% 0 4%;
}
.caja3-caja3{
  background-color: gray;
  width: 150px;
  height: 220px;
  margin: 2% 5% 0 4%;
}
.caja4-caja3{
  background-color: blue;
  width: 150px;
  height: 220px;
  margin: 2% 5% 0 4%;
}
/*Paisajes.html*/

.caja1-paisajes{
  background-color: blue;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;

}

.imagen1-caja1-paisajes{
  background-color: gray;
  width: 200px;
  height: 200px;
  order: 1;
  margin:2% 7% 2% 10%;
}
.imagen2-caja1-paisajes{
  background-color: pink;
  width: 200px;
  height: 200px;
  order: 2;
  margin:2% 7% 2% 0%;
}
.imagen3-caja1-paisajes{
  background-color: white;
  width: 200px;
  height: 200px;
  order: 3;
  margin:2% 0% 2% 0%;
}
.imagen4-caja1-paisajes{
  background-color: pink;
  width: 200px;
  height: 200px;
  order: 4;
  margin:2% 7% 2% 10%;
}
.imagen5-caja1-paisajes{
  background-color: red;
  width: 200px;
  height: 200px;
  order: 5;
  margin:2% 7% 2% 0%;
}
.imagen6-caja1-paisajes{
  background-color: yellow;
  width: 200px;
  height: 200px;
  order: 6;
  margin:2% 0% 2% 0%;
}


/*Retratos.html*/

.caja1-retratos{
  background-color: blue;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;

}

.imagen1-caja1-retratos{
  background-color: gray;
  width: 200px;
  height: 200px;
  order: 1;
  margin:2% 7% 2% 10%;
}
.imagen2-caja1-retratos{
  background-color: pink;
  width: 200px;
  height: 200px;
  order: 2;
  margin:2% 7% 2% 0%;
}
.imagen3-caja1-retratos{
  background-color: white;
  width: 200px;
  height: 200px;
  order: 3;
  margin:2% 0% 2% 0%;
}
.imagen4-caja1-retratos{
  background-color: black;
  width: 200px;
  height: 200px;
  order: 4;
  margin:2% 7% 2% 10%;
}
.imagen5-caja1-retratos{
  background-color: red;
  width: 200px;
  height: 200px;
  order: 5;
  margin:2% 7% 2% 0%;
}
.imagen6-caja1-retratos{
  background-color: yellow;
  width: 200px;
  height: 200px;
  order: 6;
  margin:2% 0% 2% 0%;
}
